@import './config/reset.scss';
@import './config/config.scss';
@import './config/fonts.scss';

body,
html {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    @include containerWidth;
    margin: 0 auto;
    padding: 0 15px;
}

@import './body/header.scss';
@import './body/general.scss';
@import './body/animation.scss';
@import './body/footer.scss';